.historytable{
    background-color: white;
    width: 90%;
    border: solid 2px #00C1A3;
    
    padding: 35px 100px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
}
.btn-class{
	border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: black; 
  color: white; 
  
}